html {
    background-color: black;
}

header { 
    color: white;
    text-align: center;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container {
    background-color: darkblue;
    height: auto;
    width: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    margin: 0 ;
    padding: 0;
    border: 2px darkgray solid;

}

.calcDisplay {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    background-color: darkgray;
    margin: 12px;
    height: 200px;
    overflow: hidden;
    align-items: center;
    
}

.calcDisplay p{
    align-self: stretch;
    margin-left: 10px;


}

.calcButtons { 
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

}

p {
    margin: 0;
    padding: 10px 30px;
    background-color: darkgray;
}

a {
    text-decoration: none;
}

.calcButtons button { 
    font-size: 100px;
    padding: 10px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.functions {
    background-color: darkblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 500px;
    margin: 20px;
    padding: 0;
}

.functions button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px; 
    background-color: darkred; 
    padding: 10px 40px
}

button.active {
    background-color: darkorange;
}

button {
    background-color: gainsboro;
}
